{% extends 'partials/page.twig' %}
{% block page_title %}{{ trans('home.title') }}{% endblock %}
{% block content %}
    <div class="home">
        <div class="callout">
            {% for text in trans('home.callout') %}
                <p>
                    {{ text|raw }}
                </p>
            {% endfor %}
            <form class="input has-button" method="get" action="{{ route('signatures.form_redirect') }}">
                <div class="fields">
                    <input title="Username" type="search" autocomplete="nickname" name="username" placeholder="{{ trans('home.callout_placeholder') }}">
                    <button class="button hide-sm" type="submit">{{ trans('home.callout_button') }} &longrightarrow;</button>
                    <button class="button hide-md hide-lg hide-xl" type="submit">&longrightarrow;</button>
                </div>
            </form>
        </div>
        <div class="columns">
            <div>
                <h2>{{ trans('home.featured') }}</h2>
                <div class="featured">
                    <a href="{{ route('signatures') }}">
                        <img src="{{ route('signatures.skyblock.stats', ['b876ec32e396476ba1158438d83c67d4', 'b876ec32e396476ba1158438d83c67d4']) }}" alt="">
                        <i>SkyBlock character stats</i>
                    </a>
                </div>
                {% if config_get('signatures.google_ads_client_id') %}
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Homepage -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="{{ config_get('signatures.google_ads_client_id') }}"
                         data-ad-slot="8351837662"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                {% endif %}
                <h2>{{ trans('home.about') }}</h2>
                {% for text in trans('home.about_text') %}
                    <p>
                        {{ text|raw }}
                    </p>
                {% endfor %}
                <a href="https://twitter.com/MaxKorlaar?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-dnt="true" data-show-count="false">
                    Follow @MaxKorlaar
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h2>{{ trans('home.discord') }}</h2>
                <iframe style="border:none;margin:.5rem 0;" src="https://discord.com/widget?id=717007953852629083&theme=dark" width="100%" height="250" allowtransparency="true"></iframe>
            </div>
            <div class="overview">
                <div class="item">
                    <h2>{{ trans('home.overview.signatures') }}</h2>
                    <p>
                        {{ trans('home.overview.signatures_text') }}
                    </p>
                    <a href="{{ route('signatures') }}" class="button primary">{{ trans('home.overview.signatures_button') }}</a>
                </div>
                <div class="item">
                    <h2>{{ trans('home.overview.friends') }}</h2>
                    <p>
                        {{ trans('home.overview.friends_text') }}
                    </p>
                    <a href="{{ route('friends') }}" class="button primary">{{ trans('home.overview.friends_button') }}</a>
                </div>

                <iframe src="https://www.strawpoll.me/embed_1/20018435" style="width:100%;height:75vh;border:0;">Loading poll...</iframe>
            </div>
        </div>
    </div>
{% endblock %}
