{% extends 'partials/page.twig' %}
{% block page_title %}{{ trans('guild.title') }}{% endblock %}

{% block social_title %}{{ trans('guild.social.title', { site: config_get('app.name') }) }}{% endblock %}
{% block social_description %}{{ trans('guild.social.description', { site: config_get('app.name') }) }}{% endblock %}

{% block content %}
    <div class="guild">
        <div class="callout">
            {% for text in trans('guild.callout') %}
                <p>
                    {{ text }}
                </p>
            {% endfor %}
            <form class="input has-button {{ errors.has('username') ? 'has-error' }}" method="post" action="{{ route('guild.form_redirect') }}">
                {{ csrf_field() }}
                <div class="fields">
                    <input value="{{ old('username') }}" title="Username" type="text" autocomplete="nickname" name="username" placeholder="Enter your username to get started">
                    <button class="button hide-sm" type="submit">{{ trans('guild.callout_button') }} &longrightarrow;</button>
                    <button class="button hide-md hide-lg hide-xl" type="submit">&longrightarrow;</button>
                </div>
                <p class="error">
                    {{ errors.first('username') }}
                </p>
            </form>
        </div>
        <h1>{{ trans('guild.recently_viewed') }}</h1>
        <div class="recently-viewed-grid">
            {% for guild in recently_viewed %}
                <a class="item" href="{{ route('guild.info', [guild.name]) }}">
                    <div class="image-container">
                        <img loading="lazy" src="{{ route('guild.banner', [guild.id]) }}" alt="">
                    </div>
                    <div class="name-container">
                        <h3>{{ guild.name }}</h3>
                        {{ trans('guild.recently_viewed_members_and_views', { count: guild.member_count, views: guild.views }) }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
