{% extends 'partials/page.twig' %}
{% block page_title %}{{ trans('guild.info.title', { name: guild.name }) }}{% endblock %}

{% block social_image %}{{ route('guild.banner', [guild.id]) }}{% endblock %}
{% block social_title %}{{ trans('guild.info.social.title', { name: guild.name, site: config_get('app.name') }) }}{% endblock %}
{% block social_description %}{{ description|striptags ?: trans('guild.info.social.default_description', { name: guild.name }) }}{{ trans('guild.info.social.description', { name: guild.name, site: config_get('app.name') }) }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="guild-info">
        <div class="sidebar">
            <h2><a href="{{ route('guild.info', [guild.name]) }}">{{ guild.name }}</a></h2>
            <a href="{{ route('guild.members', [guild.name]) }}" class="button">{{ trans('guild.info.members') }}</a>
            <a href="{{ route('guild.games.skywars', [guild.name]) }}" class="button">{{ trans('guild.info.skywars_statistics') }}</a>
            <a href="{{ route('guild.games.bedwars', [guild.name]) }}" class="button">{{ trans('guild.info.bedwars_statistics') }}</a>
            <a href="{{ route('guild.games.tntgames', [guild.name]) }}" class="button">{{ trans('guild.info.tntgames_statistics') }}</a>
            <ul>
                <li>
                    <a target="_blank" href="//hypixel.maxkorlaar.com/guild/{{ guild.id }}/statistics/megawalls">{{ trans('guild.info.megawalls_statistics') }}</a>
                </li>
                <li>
                    <a target="_blank" href="//hypixel.maxkorlaar.com/guild/{{ guild.id }}/statistics/crazywalls">{{ trans('guild.info.crazywalls_statistics') }}</a>
                </li>
                <li>
                    <a target="_blank" href="//hypixel.maxkorlaar.com/guild/{{ guild.id }}/statistics/quakecraft">{{ trans('guild.info.quakecraft_statistics') }}</a>
                </li>
            </ul>
            {% if config_get('signatures.google_ads_client_id') %}
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Guild pages -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="{{ config_get('signatures.google_ads_client_id') }}"
                     data-ad-slot="7185756343"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            {% endif %}
        </div>
        <div class="content">
            {% block guild_content %}
                <div class="callout">
                    <div class="banner-container">
                        <img src="{{ route('guild.banner', [guild.id]) }}" alt="">
                    </div>
                    <div>
                        <h1>{{ guild.name }}</h1>
                    </div>
                </div>
                <table class="information">
                    <tbody>
                        <tr>
                            <td class="bold">{{ trans('guild.info.current_members') }}</td>
                            <td><a href="{{ route('guild.members', [guild.name]) }}">{{ guild.memberCount }}</a></td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.level') }}</td>
                            <td>{{ guild.level }}</td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.tag') }}</td>
                            <td>{{ formatted_tag|raw }}</td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.description') }}</td>
                            <td>{{ (description ?: trans('guild.info.not_set'))|raw }}</td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.guildmaster') }}</td>
                            <td>
                                <a href="{{ route('signatures.form_redirect', { username: guildmaster.name }) }}">
                                    <img src="{{ route(Browser.isSafari ? 'player.skin.head.png' : 'player.skin.head', { uuid: guildmaster.getUUID(), size: 3 }) }}" alt="">
                                    {{ guildmaster_name|raw }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.created_on') }}</td>
                            <td id="date">{{ (guild.get('created')/1000)|round|date }}</td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.preferred_games') }}</td>
                            <td>
                                <ul>
                                    {% for game in preferred_games %}
                                        <li>{{ game }}</li>
                                    {% else %}
                                        <li>{{ trans('guild.info.not_set')|raw }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.most_active_games') }}</td>
                            <td>
                                <ul>
                                    {% for game in most_active_games %}
                                        <li>{{ game }}</li>
                                    {% else %}
                                        <li>{{ trans('guild.info.not_set')|raw }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.experience') }}</td>
                            <td>{{ guild.exp|number_format }}</td>
                        </tr>
                        {% if guild.getInt('coins') > 0 %}
                            <tr>
                                <td class="bold">{{ trans('guild.info.coins') }}</td>
                                <td>{{ guild.get('coins')|number_format }}</td>
                            </tr>
                        {% endif %}
                        {% if guild.legacyRank > -1 %}
                            <tr>
                                <td class="bold">{{ trans('guild.info.legacy_rank') }}</td>
                                <td>#{{ guild.legacyRank + 1 }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="bold">{{ trans('guild.info.joinable') }}</td>
                            <td>{{ guild.joinable ? trans('guild.info.yes') : trans('guild.info.no') }}</td>
                        </tr>
                        <tr>
                            <td class="bold">{{ trans('guild.info.listed') }}</td>
                            <td>{{ guild.publiclyListed ? trans('guild.info.yes') : trans('guild.info.no') }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endblock %}
        </div>
    </div>
{% endblock %}
