{% extends 'guild/info.twig' %}

{% block page_title %}{{ trans('guild.members.page_title', { name: guild.name }) }}{% endblock %}
{% block social_title %}{{ trans('guild.members.social.title', { name: guild.name, site: config_get('app.name') }) }}{% endblock %}
{% block social_description %}{{ trans('guild.members.social.description', { name: guild.name, count: guild.memberCount, site: config_get('app.name') }) }}{% endblock %}

{% block guild_content %}
    {% block table_title %}
        <h1>{{ trans('guild.members.title', { name: guild.name, link: route('guild.info', [guild.name]) })|raw }}</h1>
    {% endblock %}

    <p>{{ trans('guild.info.click_to_sort') }}</p>

    <div id="guild-members-app">
        <div class="progress-info" v-if="meta.loaded < meta.total_members" v-cloak>
            <h2>{{ trans('guild.members.loading_members') }}</h2>

            <div class="bar">
                <div class="inner" :style="{ '--percentage': Math.round(meta.loaded/meta.total_members * 100) + '%' }"></div>
            </div>
        </div>
        {% block members_table %}
            <members-table :members="members"></members-table>
        {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        window.Paniek         = window.Paniek || {};
        window.Paniek.members = {{ members|json_encode|raw }};
        window.Paniek.meta    = {{ meta|json_encode|raw }};
        window.Paniek.urls    = {{ urls|json_encode|raw }};
    </script>
    <script src="{{ mix('js/guild.js') }}"></script>
{% endblock %}
