<!doctype html>
<html lang="{{ config_get('app.locale') }}">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block page_title %}{% endblock %} – {{ config_get('app.name') }}
        </title>
        {% block social_meta_tags %}
            <meta property="og:image" content="{% block social_image %}{% endblock %}"/>
            <meta property="og:url" content="{% block social_url %}{{ app.request.url }}{% endblock %}"/>
            <meta name="twitter:card" content="summary"/>
            <meta name="twitter:site" content="{% block social_twitter_username %}@MaxKorlaar{% endblock %}"/>
            <meta name="twitter:description" content="{% block social_description %}{{ config_get('app.name') }} offers tools that may be useful for players on the gameserver Hypixel for the videogame Minecraft. You can view your friend list or generate an auto-updating image containing your game statistics, for example!{% endblock %}"/>
            <meta name="twitter:title" content="{% block social_title %}Hypixel Related Tools and Signatures – {{ config_get('app.name') }}{% endblock %}"/>
            <meta name="twitter:image" content="{{ block('social_image') }}"/>
            <meta name="twitter:url" content="{{ block('social_url') }}"/>
            <meta property="og:title" content="{{ block('social_title') }}"/>
            <meta property="og:description" content="{{ block('social_description') }}"/>
            <meta name="keywords" content="Hypixel, Hypixel Statistics, Hypixel Players, Hypixel Friends, Hypixel Signatures, Hypixel Guild, Hypixel Guild Leaderboards, Minecraft">
            <meta name="description" content="{{ block('social_description') }}">
        {% endblock %}
        <link rel="stylesheet" href="{{ mix('css/app.css') }}">
    {% endblock %}
    {% block ad_scripts %}
        {% if config_get('signatures.google_ads_client_id') %}
            <script data-ad-client="{{ config_get('signatures.google_ads_client_id') }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {% endif %}
    {% endblock %}
    {% block analytics_scripts %}
        {% if config_get('signatures.google_analytics_tracking_id') %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157532904-4"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {dataLayer.push(arguments);}

                gtag('js', new Date());

                gtag('config', '{{ config_get('signatures.google_analytics_tracking_id') }}');
            </script>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block navigation %}
        <nav>
            <ul class="container-xl mobile">
                <li class="{{ app.request.routeIs('home') ? 'active' }}">
                    <a href="{{ route('home') }}">{{ trans('nav.home') }}</a>
                </li>
                <li class="menu-container">
                    <a href="#" id="menu-opener" aria-label="{{ trans('nav.menu') }}">&#9776;</a>
                </li>
            </ul>
            <ul class="container-xl" id="main-menu">
                <li class="{{ app.request.routeIs('home') ? 'active' }}">
                    <a href="{{ route('home') }}">{{ trans('nav.home') }}</a>
                </li>
                <li class="{{ app.request.routeIs('signatures') ? 'active' }}">
                    <a href="{{ route('signatures') }}">{{ trans('nav.signatures') }}</a>
                </li>
                <li class="{{ app.request.routeIs('friends*') ? 'active' }}">
                    <a href="{{ route('friends') }}">{{ trans('nav.friends') }}</a>
                </li>
                <li class="{{ app.request.routeIs('player.status*') ? 'active' }}">
                    <a href="{{ route('player.status.index') }}">{{ trans('nav.player_status') }}</a>
                </li>
                <li class="{{ app.request.routeIs('guild*') ? 'active' }}">
                    <a href="{{ route('guild') }}">{{ trans('nav.guild') }}</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
    {% block body %}
        <main class="container-xl">
            <div class="beta-banner">
                {{ trans('nav.beta_warning')|raw }}
            </div>
            {% block content %}
            {% endblock %}
        </main>
    {% endblock %}
    {% block footer %}
        <footer>
            <div class="container-xl">
                <div>
                    Copyright {{ 'now'|date('Y') }} <a href="https://maxkorlaar.com">Max Korlaar</a> &centerdot;
                    <a class="icon twitter" href="https://twitter.com/MaxKorlaar"><img src="{{ asset('images/Twitter_Logo_WhiteOnImage.svg') }}" alt="@MaxKorlaar on Twitter"></a>
                    &centerdot;
                    <a class="icon" href="https://github.com/MaxKorlaar/hypixel-signatures"><img src="{{ asset('images/GitHub-logomark.svg') }}" alt="This project on GitHub"></a>
                </div>
                <div>
                    <a href="{{ route('privacy') }}">{{ trans('footer.privacy') }}</a> &centerdot;
                    <a href="https://github.com/MaxKorlaar/hypixel-signatures#acknowledgements">{{ trans('footer.acknowledgements') }}</a>
                </div>
            </div>
        </footer>
    {% endblock %}
    {% block scripts %}
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:300,700&amp;display=swap" media="screen,projection">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" rel="stylesheet" type="text/css" media="screen,projection">
        <script src="{{ mix('js/manifest.js') }}"></script>
        <script src="{{ mix('js/vendor.js') }}"></script>
        <script src="{{ mix('js/app.js') }}"></script>
    {% endblock %}
</body>
</html>
