{% extends 'partials/page.twig' %}
{% block page_title %}{{ trans('signatures.title') }}{% endblock %}
{% block content %}
    <h1>{{ trans('signatures.title') }}</h1>
    <div id="signature-app">
        <div class="input" :class="{'has-error': errors.username }">
            <label for="username">{{ trans('signatures.username_or_uuid') }}</label>
            <input id="username" autocomplete="nickname" :disabled="loading" type="text" v-model="username" @change="getUuidFromUsername()" @input="clearError('username')">
            <p class="error" v-if="errors.username" v-cloak>
                {{ '{{ errors.username }}' }}
            </p>
            <p class="help">
                {{ trans('signatures.username_help') }}
            </p>
        </div>

        <div v-cloak>
            <div class="signature-groups">
                <div v-for="( signatureGroup) in signatures">
                    <label class="button" :class="{ selected: current_signature_group === signatureGroup }">
                        <input type="radio" name="signature-group-name" :value="signatureGroup" v-model="current_signature_group">
                        <span class="title">{{ '{{ signatureGroup.short_name }}' }}</span>
                    </label>
                </div>
            </div>

            <div class="signature-group-info">
                <h3>{{ '{{ current_signature_group.name }}' }}</h3>
                <p>
                    {{ '{{ current_signature_group.description }}' }}
                </p>
            </div>

            <div class="skyblock-data" v-if="current_signature_group.short_name === 'SkyBlock'">
                <p class="center-text error" v-if="skyblock.profiles.length === 0 && !skyblock.loading">
                    {{ trans('signatures.skyblock.no_profiles') }}
                </p>
                <p class="center-text error" v-if="skyblock.profiles.length > 0 && skyblock.profile === null && !skyblock.loading">
                    {{ trans('signatures.skyblock.select_a_profile') }}
                </p>
                <div class="input" v-if="skyblock.profiles.length > 0" :class="{'has-error': errors.skyblock_profiles }">
                    <label>{{ trans('signatures.skyblock.profile') }}</label>
                    <div class="profiles">
                        <div v-for="profile in skyblock.profiles">
                            <label class="button" :class="{ selected: skyblock.profile === profile }">
                                <input type="radio" name="skyblock-profile" :value="profile" v-model="skyblock.profile">
                                <span class="title">{{ '{{ profile.cute_name }}' }}</span>
                            </label>
                        </div>
                    </div>
                    <p class="error" v-if="errors.skyblock_profiles">
                        {{ '{{ errors.skyblock_profiles }}' }}
                    </p>
                </div>
            </div>

            <div v-if="show_signatures" class="signature-grid">
                <template v-for="(signature, index) in current_signature_group.signatures">
                    <div class="signature">
                        <label :class="{ selected: selected_signature === signature }">
                            <input type="radio" name="signature-type" :value="signature" v-model="selected_signature">
                            <span class="overlay"></span>
                            <span class="image-container">
                            <img draggable="false" :src="getPreviewImageUrl(signature)" :class="{ pixelated: signature.pixelated }" :alt="signature.name">
                        </span>
                            <span class="title">{{ '{{ signature.name }}' }}</span>
                        </label>
                    </div>
                    {% if config_get('signatures.google_ads_client_id') %}
                        <in-feed-adsense v-if="index === current_signature_group.signatures.length - 2 || index % 4 === 0"
                                         data-ad-layout-key="-fg+5n+6t-e7+r"
                                         data-ad-client="{{ config_get('signatures.google_ads_client_id') }}"
                                         data-ad-layout-key="-75+ev-15-20+86"
                                         data-ad-slot="2775738048">
                        </in-feed-adsense>
                    {% endif %}
                </template>
            </div>
            <div class="results" v-if="selected_signature">
                <h2>{{ trans('signatures.your_signature') }}</h2>
                {% for text in trans('signatures.your_signature_text') %}
                    <p>
                        {{ text|raw }}
                    </p>
                {% endfor %}
                <img :class="{ pixelated: selected_signature.pixelated }" :src="getImageUrl(selected_signature)" alt="">

                <div class="links">
                    <div class="title">
                        <h3>{{ trans('signatures.bbcode') }}</h3>
                    </div>
                    <div>
                        <code class="bbcode select-all">
                            [URL='{{ config_get('app.url') }}'][IMG]{{ '{{ getImageUrl(selected_signature) }}' }}[/IMG][/URL]
                        </code>
                        <p>{{ trans('signatures.bbcode_instructions')|raw }}</p>
                    </div>
                    <div class="title">
                        <h3>
                            {{ trans('signatures.direct_link') }}
                        </h3>
                    </div>
                    <div>
                        <code class="select-all">{{ '{{ getImageUrl(selected_signature) }}' }}</code>
                    </div>
                </div>


                <div v-if="selected_signature.options_text" class="signature-options">
                    <h3>{{ trans('signatures.signature_options') }}</h3>
                    <p>{{ trans('signatures.signature_options_text') }}</p>
                    <p v-html="replaceParameters(this.selected_signature.options_text)"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        window.Paniek            = window.Paniek || {};
        window.Paniek.signatures = {{ signatures|json_encode|raw }};
        window.Paniek.urls       = {{ urls|json_encode|raw }};
    </script>
    <script src="{{ mix('js/signatures.js') }}"></script>
{% endblock %}
