{% extends 'partials/page.twig' %}
{% block page_title %}{{ trans('friends.title') }}{% endblock %}
{% block content %}
    <div class="friends-list">
        <div class="beta-banner">
            {{ trans('friends.api_disabled_warning') }}
        </div>
        <div class="callout">
            {% for text in trans('friends.callout') %}
                <p>
                    {{ text }}
                </p>
            {% endfor %}
            <form class="input has-button {{ errors.has('username') ? 'has-error' }}" method="post" action="{{ route('friends.form_redirect') }}">
                {{ csrf_field() }}
                <div class="fields">
                    <input value="{{ old('username') }}" title="Username" type="text" autocomplete="nickname" name="username" placeholder="{{ trans('friends.callout_placeholder') }}">
                    <button class="button hide-sm" type="submit">{{ trans('friends.callout_button') }} &longrightarrow;</button>
                    <button class="button hide-md hide-lg hide-xl" type="submit">&longrightarrow;</button>
                </div>
                <p class="error">
                    {{ errors.first('username') }}
                </p>
            </form>
        </div>
        {% if config_get('signatures.google_ads_client_id') %}
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9570587520778628"
                 data-ad-slot="9330663170"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        {% endif %}
        {% if recently_viewed is not empty %}
            <h1>{{ trans('friends.recently_viewed') }}</h1>
            <div class="recently-viewed-grid players-grid">
                {% for player in recently_viewed %}
                    <a class="item" href="{{ route('friends.list', [player.uuid]) }}">
                        <div class="image-container">
                            <img loading="lazy" src="{{ route('player.skin.head', [player.uuid]) }}" alt="">
                        </div>
                        <div class="name-container">
                            <h3>{{ player.username }}</h3>
                            {{ trans('friends.recently_viewed_friends_and_views', { count: player.friends_count, views: player.views }) }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
