{% extends 'partials/page.twig' %}
{% block page_title %}{{ trans('friends.list.page_title', { username: username }) }}{% endblock %}

{% block social_image %}{{ route('player.skin.head', { uuid: player.getUUID(), size: 10 }) }}{% endblock %}
{% block social_title %}{{ trans('friends.list.social.title', { username: username, site: config_get('app.name') }) }}{% endblock %}
{% block social_description %}{{ trans('friends.list.social.description', { username: username, total_friends: meta.total_friends }) }}{% endblock %}

{% block content %}
    <div class="friends-list" id="friends-list-app">
        <h1>{{ trans('friends.list.title', { username: formatted_username })|raw }}</h1>

        <div class="description">
            <div>
                {% for text in trans('friends.list.description', { total_friends: meta.total_friends, form_link: route('signatures.form_redirect', { username: username }), site: config_get('app.name'), username: username }) %}
                    <p>
                        {{ text|raw }}
                    </p>
                {% endfor %}
            </div>
            <div class="social-share">
                <a href="https://twitter.com/share" data-url="{{ route('friends.list', [player.getUUID()]) }}" class="twitter-share-button" data-text="{{ trans('friends.list.tweet_text', { username: username }) }}" data-via="MaxKorlaar" data-size="small" data-related="MaxKorlaar" data-hashtags="Hypixel">Tweet</a>
            </div>
        </div>

        <div class="progress-info" v-if="meta.loaded < meta.total_friends" v-cloak>
            <h2>{{ trans('friends.list.loading_friends') }}</h2>

            <div class="bar">
                <div class="inner" :style="{ '--percentage': Math.round(meta.loaded/meta.total_friends * 100) + '%' }"></div>
            </div>
        </div>

        <div class="friends-grid players-grid" v-cloak>
            <template v-for="(player, index) in friends.slice(0, visible_friends_count)">
                <a :class="{ loading: player.loading }" class="item" :href="player.friends_url">
                    <div class="image-container">
                        <img loading="lazy" :src="player.skin_url" width="71" height="64" alt="">
                    </div>
                    <div class="name-container">
                        <div class="loader" v-if="player.loading">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h3 v-html="player.formatted_name"></h3>
                        {{ trans('friends.list.friends_since') }}
                    </div>
                </a>
                {% if config_get('signatures.google_ads_client_id') %}
                    <in-feed-adsense ins-style="display:block;height: 119px" v-if="(index + 10) % 15 === 0"
                                     data-ad-layout-key="-gm-n+0-hk+p2"
                                     data-ad-client="{{ config_get('signatures.google_ads_client_id') }}"
                                     data-ad-slot="7628028258">
                    </in-feed-adsense>
                {% endif %}
            </template>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        window.Paniek         = window.Paniek || {};
        window.Paniek.friends = {{ friends|json_encode|raw }};
        window.Paniek.meta    = {{ meta|json_encode|raw }};
        window.Paniek.urls    = {{ urls|json_encode|raw }};
    </script>
    <script src="{{ mix('js/friends.js') }}"></script>
    <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js     = d.createElement(s);
                js.id  = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');</script>
{% endblock %}
